@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mobile-max-width: 430px;
    --bottom-nav-height: 60px;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: var(--mobile-max-width);
    margin: 0 auto;
    position: relative;
}

.page-container {
    padding-bottom: calc(var(--bottom-nav-height) + 1rem);
}